article ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

article ul li {
    list-style: none;
    padding-left: 0;
    margin: 0.4em 0;
}


#header nav ul li a {
    min-width: 9rem !important;
}
article {
    background: none !important;
}
article .blockquote {
    border-left: none;
    margin-bottom: 0.5rem;
    padding-left: 2em;
    font-style: italic;
}
article .blockquote p {
    margin: 0;
}